{% macro format_element(row_dict, isotope_list) -%}

    \section{\VAR{row_dict['assetName'].upper()}}

    \textbf{Description.}
    \VAR{row['desc']}

    \textbf{Etymology.}
    \VAR{row['etymology']}

    \begin{center}

    \begin{minipage}{0.45\textwidth}
    \begin{tabular}{l|c}
    \textbf{Name} & \textbf{Weight} \\ \hline
    %% for isotope in isotope_list
        \VAR{isotope['name']} & \VAR{isotope['weight']} \\
    %% endfor
    \end{tabular}
    \end{minipage}

    \begin{minipage}{0.45\textwidth}
    \begin{tabular}{|ll|} \hline
    Electron Configuration & \VAR{row['electronConfig']} \\
    Symbol & \VAR{row_dict['sub']} \\
    State at room temp. & \VAR{row_dict['stateOfMatter']} \\ \hline
    \end{tabular}
    \end{minipage}


    \end{center}

{%- endmacro -%}

\documentclass[12pt]{article}

\begin{document}

%% for i in range(len(rows))

    \VAR{format_element(rows[i], isotopes[i])}

%% endfor

\end{document}